# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.coverage
coverage.lcov

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.next/
out/
dist/
*.log

# Local storage / artifacts (NU se comit)
storage/
fl_datasets/
**/storage/
artifacts/
*.pt
*.pth
central_dataset/
central_dataset_split/
experiments/
experiments_tavi/
results/
results_tavi/
grafice/
centralized_dragos/


# Docker
*.tar

# Security - Certificates (NU se comit în producție)
# Pentru development, certificatele sunt generate local
certificates/
*.pem
*.key
*.crt
*.csr